<div class="home-wrapper">
  <p id="intro-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium maiores incidunt consequuntur animi dolorum ullam nam repellendus earum. Incidunt a minima delectus beatae, quis facere iste deleniti quia vitae!
  </p>
  <section id="qr-data">
    <h3 class="thin">Qr Data</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <app-qr-settings></app-qr-settings>
  </section>
  <section id="qr-config">
    <h3 class="thin">Qr Config</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <app-qr-config></app-qr-config>
  </section>
  <section  id="the-qr">
    <h3>The Qr:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <app-the-qr></app-the-qr>
  </section>
</div>