<div class="home-wrapper">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi accusantium maiores incidunt consequuntur animi dolorum ullam nam repellendus earum. Incidunt a minima delectus beatae, quis facere iste deleniti quia vitae!
  </p>
  <h4 class="thin">Qr Config</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <app-qr-config></app-qr-config>
  <h4 class="thin">Qr Data</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <app-qr-settings></app-qr-settings>
  <h3>The Qr:</h3>
  <app-the-qr></app-the-qr>
</div>